<!DOCTYPE html>
<html lang="en" class="bg-slate-300">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Demo</title>
</head>

<body>

    <div class="flex flex-col h-screen text-slate-900 font-bold">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock navbar %}

        <div class="p-4 text-lg">

            {% block content %}{% endblock content %}
        </div>
    </div>
</body>

</html>